body {
  margin: 0;
}

body #box {
  max-width: 300px;
  max-height: 300px;
  width: 50vw;
  height: 50vh;

  background: red;
}

@media screen and (min-width: 700px) {
  body #box {
    background: black;
  }
}

@media screen and (min-width: 900px) {
  body #box {
    background: blue;
  }
}
